* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Varela Round";
}

:root {
    --numbers: rgb(255, 255, 255);
    --body: white;
    --box: rgba(0, 75, 128, 1);
    --owner: gray;
    --title: rgb(125, 125, 125);
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--body);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    position: absolute;
    z-index: 1;
    transform: translateY(-150px);
}

.center {
    z-index: 2;
    padding: 3rem;
    background-color: var(--box);
    color: var(--numbers);
    font-size: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: all ease .5s;

}

code {
    color: var(--owner);
}

.one,
.two,
.three {
    display: flex;
    padding: .1rem;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10rem;
    color: var(--title);
    width: 90%;
}